{{ define "main" }}
  <section>
    <h2>Latest Posts</h2>
    <ul>
    {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> — <small>{{ .Date.Format "2006-01-02" }}</small></li>
    {{ end }}
    </ul>
  </section>

  <section>
    <h2>Projects</h2>
    <ul>
    {{ range first 5 (where .Site.RegularPages "Section" "projects") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> — {{ .Params.summary }}</li>
    {{ end }}
    </ul>
  </section>
{{ end }}
